git+https://github.com/LiteralGenie/ocr_data.git@642716831f859e6bdae8a2f33395af5d46cf3ce7

datasets
fastapi
fastapi-cache2
huggingface-hub
jamo
konlpy
llama-cpp-python
nltk
pathvalidate
pillow
python-multipart
requests
toml
uvicorn
