git+https://github.com/LiteralGenie/ocr_data.git@642716831f859e6bdae8a2f33395af5d46cf3ce7

bs4
datasets
fastapi
fastapi-cache2
# Temporary fork until API is fixed: https://github.com/huggingface/huggingface_hub/issues/2523
# huggingface-hub
git+https://github.com/LiteralGenie/huggingface_hub.git
jamo
konlpy
levenshtein
llama-cpp-python
loguru
nltk
pathvalidate
pillow
python-multipart
requests
requests-cache
toml
uvicorn
yarl
